


<div class="fixed inset-0   bg-opacity-50 backdrop-blur-md  flex justify-center items-center  z-50"
  (click)="cerrar()">

  <div class="bg-gray-900  rounded-lg shadow-lg p-6 w-full max-w-5xl relative" (click)="$event.stopPropagation()">

    <h2 class="text-xl font-bold text-white text-center mb-4">Nueva Orden de Tueste</h2>

    <!-- Botón de cerrar -->
    <button class="absolute top-3 right-4 text-white text-lg" (click)="cerrar()">&times;</button>

    <div class="grid grid-cols-3 gap-4">

        <label class="block">
          <span class="text-white">Clientes</span>
          <select 
              class=" rounded px-3 py-2 w-full bg-gray-800 text-white" 
              [(ngModel)]="nuevopedido.id_user"
              (change)="cargarLotes()">
            <option *ngFor="let user of Usuarios" [value]="user.id_user">{{ user.nombre }}</option>
          </select>
        </label>

        <label class="block">
          <span class="text-white">Lote</span>
          <select class=" rounded px-3 py-2 w-full bg-gray-800 text-white" [(ngModel)]="nuevopedido.id_lote">
            <option *ngFor="let lote of Lotes" [value]="lote.id_lote">{{ lote.id_lote }}</option>
          </select>
        </label>

        <label class="block">
          <span class="text-white">Fecha de Tueste</span>
          <input type="date" class=" rounded px-3 py-2 w-full bg-gray-800 text-white" [(ngModel)]="nuevopedido.fecha_tueste"/>
        </label>

      <label class="block">
          <span class="text-white">Cantidad En Verde</span>
          <input 
          type="number" 
          class="rounded px-3 py-2 w-full bg-gray-800 text-white" 
          [(ngModel)]="nuevopedido.cantidad"
          (input)="actualizarTostadoDesdeVerde()" 
        />
      </label>
      
      <label class="block">
        <span class="text-white">Cantidad Tostado</span>
        <input 
          type="number" 
          class="rounded px-3 py-2 w-full bg-gray-800 text-white" 
          [(ngModel)]="cafeTostado"
          (input)="actualizarVerdeDesdeTostado()" 
        />
      </label>


        <label class="block">
          <span class="text-white">Tipo Tueste</span>
          <select class=" rounded px-3 py-2 w-full bg-gray-800 text-white" [(ngModel)]="nuevopedido.comentario">
            <option *ngFor="let Tipo of TipoTueste" [value]="Tipo">{{Tipo}}</option>
          </select>
        </label>

        <label class="block">
          <span class="text-white">Tostadora</span>
          <select class=" rounded px-3 py-2 w-full bg-gray-800 text-white" [(ngModel)]="nuevopedido.tostadora">
            <option *ngFor="let tostadora of Tostadoras" [value]="tostadora">{{tostadora}}</option>
          </select>
        </label>

        <label class="block">
            <span class="text-white">Agregar Tueste</span>
            <button type="submit" class="bg-gray-800 px-4 py-2 rounded text-white hover:bg-[#e76f51] transition w-full"
                (click)="onAdd()">
                Agregar
            </button>
        </label>
    </div>

    <div class="m-10"></div>

    <div class="overflow-x-auto bg-gray-800 p-4 rounded-lg">
        <table class="w-full text-white border border-gray-700">
          <thead class="bg-gray-700">
            <tr>
              <th *ngFor="let column of columns" class="p-3 text-left border-b border-gray-600">
                {{ column }}
              </th>
              <th  class="p-3 text-left border-b border-gray-600">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data; let i = index" class="border-b text-white border-gray-600 hover:bg-gray-700">
              <td *ngFor="let column of columns" class="p-3">
                <ng-container [ngSwitch]="column">
              
                  <!-- Si es editable -->
                  <input 
                    *ngSwitchCase="'Peso Verde'"
                    type="number"
                    [(ngModel)]="row['Peso Verde']"
                    (ngModelChange)="actualizarPesoTostado(i)"
                    class="bg-gray-700 rounded px-2 py-1  text-white"
                    min="2"
                    step="0.1"
                    max="4"
                  />
              
                  <!-- Si no es editable -->
                  <span *ngSwitchDefault>
                    {{ row[column] }}
                  </span>
              
                </ng-container>
              </td>
                            
              <td  class="p-3">
                <button
                  class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded"
                  (click)="onDelete(row)">
                  Eliminar
                </button>
              </td>
            </tr>
            <tr class="font-bold bg-gray-700">
              <td class="p-3">TOTAL</td>
              <td class="p-3">{{ totalPesoVerde.toFixed(2) }}</td>
              <td class="p-3">{{ totalPesoTostado.toFixed(2) }}</td>
              <td class="p-3"></td> 
            </tr>
          </tbody>
        </table>
      </div>

    

    <div class="flex justify-center mt-4 space-x-4">
      <button type="button" class="bg-gray-600 px-4 py-2 rounded text-white hover:bg-gray-500 transition"
        (click)="cerrar()">
        Cancelar
      </button>
      <button type="submit" class="bg-[#f4a261] px-4 py-2 rounded text-white hover:bg-[#e76f51] transition"
        (click)="guardar()">
        Guardar
      </button>
    </div>
  </div>
</div>
