<div class="p-6 space-y-6">
  <h2 class="text-2xl font-bold">Lotes Cafe Verde</h2>

  <!-- Contenedor para el buscador y el botón -->
  <div class="w-full flex justify-between items-center">
    <!-- Input de búsqueda -->
    <input
      type="text"
      placeholder="Buscar lote..."
      class="border border-gray-300 rounded px-4 py-2 w-2/3 focus:outline-none focus:ring-2 focus:ring-[#f4a261]"
      [(ngModel)]="filtro"
    />

    <!-- Botón para agregar lote -->
    <button
      class="bg-[#f4a261] text-white px-4 py-2 rounded hover:bg-[#e76f51] transition"
      (click)="abrirModal()">
      Agregar Lote
    </button>
    
    <!-- Botón para agregar lote de muestra -->
    <button
      class="bg-[#f4a261] text-white px-4 py-2 rounded hover:bg-[#e76f51] transition"
      (click)="abrirModalMuestra()">
      Lote de Muestra
    </button>
  </div>

  <!-- Tabla Lotes Verdes -->
  <app-table 
    [columns]="columnsVerde"
    [data]="rowsVerde"
    [mostrarEditar]="false"
    [onEdit]="editRow.bind(this)"
    [mostrarEliminar]="false"
    [onDelete]="deleteRow.bind(this)"
    (rowClick)="abrirReporte($event)"

    >
  </app-table>

  <div class="p-6"></div>

  <!-- Tabla Lotes Tostados -->
  <h2 class="text-2xl font-bold">Lotes Cafe Tostado</h2>

  <app-table 
    [columns]="columnsTostado"
    [data]="rowsTostado"
    [mostrarEditar]="false"
    [onEdit]="editRow.bind(this)"
    [mostrarEliminar]="false"
    [onDelete]="deleteRow.bind(this)"
    (rowClick)="abrirReporte($event)"
    >
  </app-table>

  <!-- Incluir el formulario de creación -->
  <app-crear-lote
    *ngIf="mostrarModal"
    (onCerrar)="cerrarModal()"
    (onAnalisisCreado)="actualizarLotes()">
  </app-crear-lote>

  <app-editar-lote
    *ngIf="mostrarModalLote"
    [id] = "loteIdActual"
    (onCerrar)="cerrarModal()"
    (onAnalisisCreado)="actualizarLotes()">
  </app-editar-lote>

  <app-lote-muestra
    *ngIf="mostrarModalLoteMuestra"
    (onCerrar)="cerrarModal()"
    (onAnalisisCreado)="actualizarLotes()">
  </app-lote-muestra>

  <app-reporte-analisis
    *ngIf="mostrarReporte"
    [id] = "loteIdActual"
    (onCerrar)="cerrarModal()"
    >
  </app-reporte-analisis>

  <app-agregar-analisis></app-agregar-analisis>
</div>
