<div class="overflow-x-auto bg-gray-800 p-4 rounded-lg">
  <table class="w-full text-white border border-gray-700">
    <thead class="bg-gray-700">
      <tr>
        <th *ngFor="let column of columns" class="p-3 text-left border-b border-gray-600">
          {{ column }}
        </th>
        <th class="p-3 text-left border-b border-gray-600">Editar</th>
        <th class="p-3 text-left border-b border-gray-600">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data" class="border-b text-white border-gray-600 hover:bg-gray-700">
        <td *ngFor="let column of columns" class="p-3">{{ row[column] }}</td>
        <td class="p-3 flex space-x-2">
          <button class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-1 rounded flex items-center">
            <mat-icon aria-hidden="false" aria-label="edit icon" fontIcon="edit"></mat-icon> Editar
          </button>
        </td>
        <td>
          <button class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded flex items-center">
             <mat-icon aria-hidden="false" aria-label="delete icon" fontIcon="delete"></mat-icon>Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
