<div class="p-6 space-y-6">
  <h1 class="text-2xl font-bold">Tuestes</h1>

  <!-- Contenedor para el buscador y el botón -->
  <div class="w-full flex">
    <div class="w-full flex justify-content-start items-center">
      <!-- Input de búsqueda -->
      <label class="text-gray-700 font-semibold mr-6">Buscar por fecha:</label>
      <input
        type="date"
        value=today
        class="border border-gray-300 rounded px-4 py-2 w-80 focus:outline-none focus:ring-2 focus:ring-[#f4a261]"
        [(ngModel)]="filtro"
      />
    </div>

    <button
      class="bg-[#f4a261] text-white px-4 py-2 rounded hover:bg-[#e76f51] transition"
      (click)="abrirModalCreateOrder()">
      Generar Orden de Tueste
    </button>

  </div>

  <!-- Tabla Pedidos -->
  <app-table
    [columns]="columnsPedido"
    [data]="rowsPedido"
    [onEdit]="editRow.bind(this)"
    [mostrarCompletar]="true"
    [mostrarEditar]="true"
    [mostrarEliminar]="true"
    >
  </app-table>

  <div class="m-10">

  </div>
  

  <!-- Tabla Tuestes-->
  <app-table
    [columns]="columnsTueste"
    [data]="rowsTueste"
    [onEdit]="editRow.bind(this)"
    [onComplete]="completeRowTueste.bind(this)"
    [mostrarCompletar]="true"
    [mostrarEditar]="true"
    [mostrarEliminar]="false"
    >
  </app-table>

  <!-- Modal para generar orden de tueste -->
   <app-create-orden
    *ngIf="ComponentCreateOrder"
    (onCerrar)="cerrarModal()"
    (onOrdenCreada)="actualizarPedidos()"
    >
    
   </app-create-orden>

   <app-edit-orden
    *ngIf="ComponentEditOrder"
    [id]="pedidoIdActual"
    (onCerrar)="cerrarModal()"
    (onOrdenEditada)="actualizarPedidos()"
    >
  </app-edit-orden>
  <!-- Modal para editar orden de tueste -->
  <!-- Modal editar tueste -->
  <!-- Modal complete tueste -->


</div>
