<div class="p-6 space-y-6">
    <h1 class="text-2xl font-bold">Análisis Físico</h1>

    <!-- Contenedor para el buscador y el botón -->
    <div class="w-full flex justify-between items-center">
      <!-- Input de búsqueda -->
      <input
        type="text"
        placeholder="Buscar análisis..."
        class="border border-gray-300 rounded px-4 py-2 w-2/3 focus:outline-none focus:ring-2 focus:ring-[#f4a261]"
        [(ngModel)]="filtro"
      />

      <!-- Botón para agregar análisis -->
      <button
        class="bg-[#f4a261] text-white px-4 py-2 rounded hover:bg-[#e76f51] transition"
        (click)="abrirModal()">
        Agregar Análisis
      </button>

      <button
        class="bg-[#f4a261] text-white px-4 py-2 rounded hover:bg-[#e76f51] transition"
        (click)="abrirModal()">
        Agregar Análisis Rapido
      </button>
    </div>

    <!-- Tabla  -->
    <app-table
      [onEdit]="editarAnalisis.bind(this)"
      [onDelete]="eliminarAnalisis.bind(this)"
      [columns]="columns"
      [data]="rows" >
    </app-table>

    <!-- Crear Analisis -->
    <app-crear-analisis
      *ngIf="mostrarModal"
      (onCerrar)="cerrarModal()"
      (onAnalisisCreado)="actualizarAnalisis()">
    </app-crear-analisis>

    <!-- Editar Analisis -->
    <app-editar-analisis-fisico
      *ngIf="mostrarModalEditar"
      [id] = "AnalisisIdActual"
      (onCerrar)="cerrarModal()"
      (onAnalisisEditado)="actualizarAnalisis()">
    </app-editar-analisis-fisico>


  </div>
