<aside class="bg-gray-800 text-white w-64 h-screen fixed top-15 left-0 transform transition-transform duration-300 ease-in-out md:translate-x-0"
       [class.-translate-x-full]="isHidden">
  <!-- Menú -->
  <nav class="flex flex-col space-y-4 p-6">
    <a href="#" class="p-3 rounded hover:bg-[#f4a261] transition">Dashboard</a>
    <a href="#" class="p-3 rounded hover:bg-[#f4a261] transition">Lotes</a>
    <a href="#" class="p-3 rounded hover:bg-[#f4a261] transition">Pedidos</a>
    <a href="#" class="p-3 rounded hover:bg-[#f4a261] transition">Muestras</a>
    <a href="#" class="p-3 rounded hover:bg-[#f4a261] transition">Analisis</a>

  </nav>
</aside>
