
<form (ngSubmit)="guardar()">

  <div class="grid grid-cols-2 gap-4">
    <label class="flex items-center gap-2 text-white">
      <input type="checkbox" [(ngModel)]="analisisEditado.horneado" name="horneado"> Horneado
    </label>
    <label class="flex items-center gap-2 text-white">
      <input type="checkbox" [(ngModel)]="analisisEditado.humo" name="humo"> Humo
    </label>
    <label class="flex items-center gap-2 text-white">
      <input type="checkbox" [(ngModel)]="analisisEditado.uniforme" name="uniforme"> Uniforme
    </label>
    <label class="flex items-center gap-2 text-white">
      <input type="checkbox" [(ngModel)]="analisisEditado.verde" name="verde"> Verde
    </label>
    <label class="flex items-center gap-2 text-white">
      <input type="checkbox" [(ngModel)]="analisisEditado.arrebatado" name="arrebatado"> Arrebatado
    </label>
    <label class="flex items-center gap-2 text-white">
      <input type="checkbox" [(ngModel)]="analisisEditado.oscuro" name="oscuro"> Oscuro
    </label>
  </div>
  
  <textarea [(ngModel)]="analisisEditado.comentario"
    name="comentario"
    class="w-full p-2 mt-4 rounded bg-gray-800 text-white"
    placeholder="Comentarios opcionales...">
  </textarea>

</form>
